body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 500px;
    margin: 40px auto;
    background: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.h1 {
    text-align: center;
    color: #a84545;
}

.foto {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4a90e2;
}

.data p {
    font-size: 16px;
    margin: 8px 0;
    color: cyan;
}

.strong {
    color: #8f3b3b;
}